@font-face {
    font-family: "Socialico";
    src: url(fonts/Socialico/Socialico.ttf) format("truetype");
}
body {
    margin: 0;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.page {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.section {
    width: auto;
    padding: 50px 396.5px;
}

.title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 35px 0;
    text-align: center;
}

.button {
    transition-duration: 0.2s;
    &:hover,
    &:active {
        background: #445161;
        color: #fff;
        border: 1px solid #fff;
    }
    &:focus {
        outline-color: #000000;
    }
}

input,
textarea {
    outline: none;
    &:hover {
        background: rgba(255, 255, 255, 0.8);
    }
}

.main-header {
    width: auto;
    max-height: 323px;
    background-color: #445162;
    &-container {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 0 0 51px 0;
        font-family: Arial;
        color: #ffffff;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 400;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    }
    &__list {
        margin: 0;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        line-height: 36px;
        font-weight: 400;
        text-align: left;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        list-style: none;
    }
    &__item {
        position: relative;
        &::before {
            position: absolute;
            background: url(images/check-icon.png);
            background-size: 25px 19px;
            width: 25px;
            height: 19px;
            content: "";
            top: 9px;
            left: -35px;
        }
    }
}

.product-description .product-description__text-wrapper {
    width: 650px;
}
.main-header__photo {
    width: 469px;
    height: 214px;
}

.product-description__video {
    &-wrapper {
        width: 469px;
        height: 214px;
        overflow: hidden;
        position: relative;
    }
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product-advantages {
    background-color: #f5f5f5;
}
.product-advantages__list {
    columns: 2;
    list-style: none;
}
.product-advantages__item {
    margin-bottom: 35px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background: url(images/plus-icon.png);
        width: 32px;
        height: 32px;
        left: -42px;
        top: 5px;
    }
}
.screenshot__item {
    display: flex;
    margin: 0 0 35px 0;
}
.screenshot__photo {
    width: 200px;
    height: 150px;
    margin: 0 15px 0 0;
}
.screenshot__title {
    margin: 0 0 15px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-align-last: left;
}
.screenshot__text {
    width: 360px;
}
.screenshot__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-description__title {
    text-align: left;
}
.product-description__wrapper {
    display: flex;
    justify-content: space-between;
}
.review {
    background-color: #f5f5f5;
}
.review-item {
    display: flex;
    margin: 0 0 25px 0;
}
.review-item__card {
    margin: 0 0 0 16px;
    background: url(images/bg-review.png);
    background-size: 483px 121px;
    height: 121px;
    width: 483px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.review__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.review-item__text {
    line-height: 18px;
    font-style: italic;
}
.review-item__text_lower {
    color: #989898;
    line-height: 18px;
}
.review-item__wrapper {
    position: absolute;
    right: 10px;
    width: 436px;
}
.review-item__photo {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
.offer-row {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.offer-item__title {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 10px 0;
}
.offer-item {
    background: url(images/bg-offer.png);
    width: 300px;
    height: 306px;
    background-size: 300px 306px;
    padding: 16px 0 20px 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.offer-item_premium {
    background: url(images/bg-offer-premium.png);
    height: 404px;
}
.offer-item_lux {
    background: url(images/bg-offer-lux.png);
    height: 500px;
}
.offer-item__list {
    color: #ffffff;
}
.offer-item__price-tag {
    background-color: #ffffff;
    font-size: 40px;
    line-height: 30px;
    width: 300px;
    height: 71px;
    border: 2px solid #445162;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #445161;
}
.offer-item__button {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 260px;
    text-decoration: none;
    align-self: center;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    padding: 10px 0;
    border: 1px solid #fff;
}

.footer {
    & {
        background-color: #445162;
        padding: 50px 0 0;
    }

    &__title {
        color: #ffffff;
        margin: 0 0 30px 0;
    }

    &__form {
        ::placeholder {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 14px;
            font-weight: 400;
            color: #445162;
        }
        &-fieldset {
            width: 500px;
            min-height: 350px;
            display: block;
            box-sizing: border-box;
            text-align: center;
            margin: 0px;
            padding: 0px;
            border: none;
        }
        &-item {
            margin: 0 0 20px 0;
            border-radius: 5px;
            padding: 15px 10px;
            border: none;
            resize: none;
            width: -webkit-fill-available;
        }
    }
    &__wrapper {
        padding: 0px 250px 45px;
        display: flex;
        justify-content: space-between;
    }

    &__submit-button {
        font-size: 16px;
        line-height: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #445162;
        padding: 14px 48px;
        background-color: #ffffff;
        border: none;
        border-radius: 5px;
        width: 140px;
        box-sizing: border-box;
        align-self: center;
        border: 1px solid #fff;
    }

    &__contacts {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
    }

    &__contacts-list {
        margin: 0;
        list-style: none;
        .skype::before {
            background: url(images/skype-icon.png);
        }
        .icq::before {
            background: url(images/icq-icon.png);
            width: 26px;
            height: 26px;
        }
        .email::before {
            background: url(images/email-icon.png);
            width: 22px;
            height: 22px;
        }
        .phone::before {
            background: url(images/phone-icon.png);
            width: 24px;
            height: 23px;
        }
    }

    &__contacts-item {
        position: relative;
        margin-bottom: 29px;
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 26px;
            background-size: 24px 26px;
            left: -29px;
        }
    }

    &__social-networks-wrapper {
        padding: 10px 0 0 7px;
    }

    &__social-networks-link {
        font-family: Socialico;
        text-decoration: none;
        font-size: 60px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
    }

    &__copyright-line {
        font-size: 12px;
        font-family: "Arial";
        color: rgb(68, 81, 98);
        line-height: 2;
        text-align: left;
        background-color: #f5f5f5;
        text-align: center;
        p {
            margin: 0;
        }
    }
}
